<div class="container area">
    <div class="form-control p-4">
        <div class="row ">
            <div class="col">
                <input class="form-control {{cssDocumentoValido}}" mask="CPF_CNPJ" placeholder="Informe o CPF/CNPJ ou parte do número" title="Informe o CPF/CNPJ ou parte do número" [(ngModel)]="numero" (keyup)="handleValidaDocumento()" />
            </div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="cpf" value="1" (change)="checkValue($event)">
                    <label class="form-check-label" for="cpf">CPF</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="cnpj" value="2" (change)="checkValue($event)">
                    <label class="form-check-label" for="cnpj">CNPJ</label>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <button class="btn btn-success {{!documentoValidoConsulta?'disabled':''}}" (click)="handleConsultar()">Pesquisar</button>
                <button class="btn btn-secondary" (click)="handleNovo()">Novo</button>
            </div>
        </div>
    </div>
</div>
<div class="container area" *ngIf="pages > 0">
    <table class="table table-striped" cellspacing="0" id="tableDocumento">
        <thead>
            <tr>
                <th scope="col" class="order" (click)="handleOrderBy('nuDocumento')">Número</th>
                <th scope="col" class="order" (click)="handleOrderBy('tpDocumento')">Tipo</th>
                <th scope="col" class="order" (click)="handleOrderBy('isBlacklist')">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let documento of documentos">
                <td>{{documento.numero | mask:'CPF_CNPJ'}}</td>
                <td>{{documento.tipo.nome}}</td>
                <td>{{documento.blacklist?'Blacklist':''}}</td>
                <td>
                    <div class="acoes">
                        <button class="btn btn-warning" (click)="handleAtualizar(documento.codigo)">Atualizar</button>
                        <button class="btn btn-danger" (click)="handleDeletar(documento.codigo)">Deletar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="container">
            <nav aria-label="Page navigation example ">
                <ul class="pagination justify-content-center ">
                    <li class="page-item {{page===0 ? 'disabled' : ''}}" (click)="handlePagina(1)">
                        <a class="page-link " [routerLink]=" ">
                            << </a>
                    </li>

                    <li class="page-item " *ngFor="let item of [].constructor(pages); let i = index">
                        <a class="page-link " [routerLink]=" " (click)="handlePagina(i+1)">{{i+1}}</a>
                    </li>
                    <li class="page-item {{(page+1)===pages ? 'disabled' : ''}} ">
                        <a class="page-link " [routerLink]=" " (click)="handlePagina(pages)">>></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
